/* CSS Document */

    body{
            margin: 3%;
            margin-top: 0%;
            margin-bottom: 0%;
        }
    .background_slide {
    	height: 400px;
    	width: 100%;"
    }

    #menu{
		
		width:100%;
		height:50px;
		margin:0px;
		padding:0px;
		
		}
	#menu ul {
		list-style:none;
		float: left;
		margin-left:2px;
	}
	#menu ul li{
		background-color:green;
		border-left:1px solid white;
		width:170px;
		height:50px;
		line-height:50px;
		text-align:center;
		float:left;
		position:relative;

	}
	#menu ul li a{
		text-decoration:none;
		color:white;
		display:block;
	}
	#menu ul li a:hover{
		background-color:white;
		color:green;
	}
	#Rescarch a{
		background-color:green;
		width:200px;
		
	}
	#menu ul ul{
		position:absolute;
		display:none;
		padding:0px;
	}
	#menu ul li:hover>ul{
		display:block;
	}
	.navbar ul li {
 width: 60px;
 padding: 10px 0;
 position: absolute;
 top: -6px;
 left: 25px;
 text-align: center;
 border-top-left-radius: 3px;
 background: #F47530;
}
.navbar ul li:before {
 height: 0;
 width: 0;
 right: -5.5px;
 top: 0.1px;
 border-bottom: 6px solid #8D5A20;
 border-right: 6px solid transparent;
}
.navbar ul li:before, .navbar ul li:after {
  content: "";
  position: absolute;
}
.navbar ul li:after {
  height: 0;
  width: 0;
  bottom: -29.5px;
  left: 0;
  border-left: 30px solid #F47530;
  border-right: 30px solid #F47530;
  border-bottom: 30px solid transparent;
}
/*
.card{
	padding-top: 50px;
	padding-bottom: 50px;
}*/

.internal_service {
	padding-top: 50px;
	padding-bottom: 50px;
}

.photogallary {
	padding-top: 50px;
}
 /*shadow effect 
 	<svg height="120" width="120">
  <defs>
    <filter id="f1" x="0" y="0" width="200%" height="200%">
      <feOffset result="offOut" in="SourceGraphic" dx="20" dy="20" />
      <feBlend in="SourceGraphic" in2="offOut" mode="normal" />
    </filter>
  </defs>
  <rect width="90" height="90" stroke="green" stroke-width="3" fill="yellow" filter="url(#f1)" />

  https://www.w3schools.com/graphics/svg_feoffset.asp */

  .footer {
  	padding-top:90px;
  }
  #border1 {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.5px;
    border-color: black;
}
#border2 {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.5px;
    border-color: black;
}
#border3 {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.5px;
    border-color: black;
}


#verticle-line1 {
	width: 0.5px;
	height: 300px;
	background-color:black;
	position: relative;
}

#links {
	float:left;
	text-align: left;
}

 #icon1 {


  background-color: #68b2ff; 

  border: 2px solid #ffffff;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 50%;
}

#download {
	background-color:black;
	text-decoration:white;
}

.option {
	color:black;
}

.option:hover {
	color: #68b2ff;

}

.line-decoration {
	float:left;
	width: 100px;

}










